In [1]:
from selection_criteria import PairsSelection
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv("../data/raw_data.csv", index_col=0)
raw_data.head()

,A,AAL,AAPL,ABBV,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-04,40.689999,40.910000,26.337500,57.610001,42.930000,22.950001,101.830002,91.970001,54.439999,35.840000,...,124.980133,29.83,68.769997,35.700001,77.459999,36.080002,51.912292,98.844658,66.489998,47.270000
2016-01-05,40.549999,40.520000,25.677500,57.369999,42.919998,23.033333,102.360001,92.339996,54.040001,36.240002,...,125.839996,29.90,70.070000,36.060001,78.120003,36.070000,51.782890,100.902916,64.820000,48.009998
2016-01-06,40.730000,41.230000,25.174999,57.380001,42.560001,23.070000,102.160004,91.019997,51.740002,35.360001,...,125.839996,29.24,66.440002,36.439999,77.470001,35.619999,51.416248,101.339806,62.230000,48.020000
2016-01-07,39.000000,40.450001,24.112499,57.209999,41.540001,23.046667,99.160004,89.110001,50.419998,34.520000,...,114.949997,28.16,60.189999,36.580002,76.230003,34.700001,49.662113,99.009712,59.410000,46.560001
2016-01-08,38.590000,40.369999,24.240000,55.650002,40.669998,22.806667,98.199997,87.849998,49.980000,34.389999,...,116.620003,27.90,57.740002,36.180000,74.690002,34.369999,48.986340,98.592232,59.250000,45.880001

In [3]:
pair_selection = PairsSelection(leg1_name="DGX", leg1=raw_data.loc[:, "DGX"], leg2_name="MTD", leg2=raw_data.loc[:, "MTD"])
print(pair_selection.is_eligible())
print(pair_selection.adf_pvalue)
print(pair_selection.hedge_ratio)
print(pair_selection.hurst_exponent)
print(pair_selection.half_life)
print(pair_selection.zero_cross)

True
0.00026879194107604375
15.880234150236337
0.3781140395017113
34.64046260080433
104

In [4]:
trading_pairs = pd.DataFrame(columns=["leg1", "leg2", "coint_t", "coint_pvalue", "hedge_ratio", "adf_pvalue",
                                      "hurst_exponent", "half_life", "zero_cross"])

columns = raw_data.columns[:50]
print("Eligible trading pairs:")
for i in range(len(columns)):
    for j in range(i+1, len(columns)):
        s1 = columns[i]
        s2 = columns[j]
        pair_selection = PairsSelection(leg1_name=s1, leg1=raw_data.loc[:, s1], leg2_name=s2, leg2=raw_data.loc[:, s2])
        if(pair_selection.is_eligible()):
            print(f"{s1} {s2}")
            trading_pair = [pair_selection.leg1_name, pair_selection.leg2_name,
                            pair_selection.coint_t, pair_selection.coint_pvalue,
                            pair_selection.hedge_ratio, pair_selection.adf_pvalue,
                            pair_selection.hurst_exponent, pair_selection.half_life, pair_selection.zero_cross]

            trading_pairs.loc[len(trading_pairs.index)] = trading_pair

# trading_pairs.to_csv("./trading_pairs.csv")

Eligible trading pairs:
A AVY
AAL AMGN
AAL APD
ABT ADSK
ABT APD
ABT AWK
ADI AME
ADM ALB
ADP AON
ADSK ALLE
ADSK ANSS
AKAM ANSS
ALGN APTV
ALL AMAT
ALL AMGN
ALL AXP
ALLE ANSS
AME AMGN
AMGN AXON
ANET AVGO
APD AWK

In [6]:
trading_pairs.to_csv("../trading_pairs.csv")